<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Registeration Form</title>
</head>

<body>
    <h1>Fill the form to register</h1>
    <%if(error) {%>
        <span class="red">
      <%=error%>
    </span>
        <%}%>
            <form action="/users/register" method="post">
                <input type="text" placeholder="add firstname" name="firstName">
                <input type="text" placeholder="add lastname" name="lastName">
                <input type="email" placeholder="add email" name="email">
                <input type="password" placeholder="add password" name="password">
                <input type="text" placeholder="add city" name="city">
                <input type="submit" value="Register Yourself">
            </form>

</body>

</html>