<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>User Form</title>
</head>

<body>
    <%if(error){%>
        <span class="red">
            <%=error%>
        </span>
        <%}%>

            <%if(password_error){%>
                <span class="red">
                    <%=password_error%>
                </span>
                <%}%>
                    <%if(email_not_registered){%>
                        <span class="red">
                            <%=email_not_registered%>
                        </span>
                        <%}%>


                            <form action="/users/register" method="post">
                                <input type="text" name="name" placeholder="Add name">
                                <input type="email" name="email" placeholder="Add email">
                                <input type="password" name="password" placeholder="Add password">
                                <input type="number" name="age" placeholder="Add age">
                                <input type="number" name="phone" placeholder="Add Phone Number">
                                <input type="submit" value="Register Yourself">
                            </form>
</body>

</html>