<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Users Login Form</title>
</head>

<body>
    <h1>Fill up the form to login yourself as an user:-</h1>
    <form action="/users/login" method="post">
        <% if(error) {%>
            <span class="red">
        <%=error%>
      </span>
            <%}%>
                <input type="email" placeholder="Add email" name="email">
                <input type="password" placeholder="Add password" name="password">
                <input type="submit" value="Login">
    </form>
    <footer>
        <hr>
        <div>
            <a class="block btn" href="/users/new">Register as an user</a>
        </div>
    </footer>
</body>

</html>