<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Login Form</title>
</head>

<body>
    <h1>Login Yourself!</h1>
    <form action="/users/login" method="post">
        <%if(error){%>
            <span class="red">
                <%=error%>
            </span>
            <%}%>
                <input name="email" type="email" placeholder="Add Email">
                <input name="password" type="password" placeholder="Add password">
                <input type="submit" value="Login">
    </form>

</body>

</html>